Required Libraries

In [1]:
# Importing required libraries
import warnings
warnings.filterwarnings("ignore")

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

import pandas as pd

import numpy as np

AID Data Analysis

In [2]:
# Read the 2019 AID Data a-file 
aid_data = pd.read_csv('a2019.csv',encoding='UTF-8',skipinitialspace=True)

aid_data1 = aid_data

# Data Cleaning and structuring
aid_data1.columns= aid_data1.columns.str.strip()

# aid_data1 = aid_data1.dropna(subset=['c5'],how='all')
# Drop the last two columns (Extra empty columns exists at the end of the file)
aid_data1 = aid_data1.drop(aid_data1.columns[[-1,-2]],axis=1)

# Check the columns c5 for any character string (This column should not contain text)
fil = aid_data1['c5'].str.contains(r'^[a-zA-Z]')

aid_data1 = aid_data1[~fil]

# Resetting the Index Values
aid_data1.reset_index(drop=True,inplace=True)

# Unifying the date formats 
aid_data1['c9'] = pd.to_datetime(aid_data1['c9'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c205'] = pd.to_datetime(aid_data1['c205'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c206'] = pd.to_datetime(aid_data1['c206'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c207'] = pd.to_datetime(aid_data1['c207'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c208'] = pd.to_datetime(aid_data1['c208'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c210'] = pd.to_datetime(aid_data1['c210'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c229'] = pd.to_datetime(aid_data1['c229'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c230'] = pd.to_datetime(aid_data1['c230'].astype(str), format='%Y%m%d',errors='coerce')
aid_data1['c10'] = pd.to_datetime(aid_data1['c10'].astype(str),format= '%H%M.0',errors='coerce').dt.strftime('%H:%M')

# Making some columns as integer type for further analysis(most of these are the ones which provide the information about the number of people injured or killed on the aircraft)
aid_data1[aid_data1.columns[79:95]] = aid_data1[aid_data1.columns[79:95]].fillna(0)

for col in aid_data1.columns[80:93].values:
    aid_data1[col] = aid_data1[col].astype('int64')

#replacing the columns that has zero to NAN 
aid_data1[['c149','c151','c145']] = aid_data1[['c149','c151','c145']].fillna(0).astype(int).astype(str).replace('0','NaN')

# Renaming important columns and adding suffix to other columns to distinguish the data of one report from another to understand better for further analysis
aid_data1.rename(columns={'c9': 'Date_Of_Occurrence', 'c22': 'N_Number'}, inplace=True)

aid_data1 = aid_data1.add_suffix('_aid').rename(columns={'Report_Type_aid': 'Report_Type', 'Date_Of_Occurrence_aid': 'Date_Of_Occurrence'})

aid_data1 = aid_data1.rename(columns={'c5_aid': 'Unique_Identifier'})

# Inserting a new column of report type to help further analysis
aid_data1.insert(0,'Report_Type','AID')
    
# aid_data1[aid_data1.columns[79:95]]

In [3]:
#Top 10 records in the dataset
aid_data1.head(10)

  Report_Type Unique_Identifier c1_aid  ... c191_aid   c229_aid   c230_aid
0         AID   20191013023229A      A  ...      NaN 1950-07-28        NaT
1         AID   20191122023189A      A  ...      NaN 1967-07-29        NaT
2         AID   20191125023199I      I  ...      NaN 1961-12-21        NaT
3         AID   20191217023209A      A  ...      NaN 1933-11-17        NaT
4         AID   20191218023219I      I  ...      NaN 2000-02-19 2001-06-13
5         AID   20191101023269A      A  ...      NaN 1950-03-10        NaT
6         AID   20191101023289A      A  ...      NaN 1967-02-27        NaT
7         AID   20191031023279A      A  ...      NaN 1946-01-30        NaT
8         AID   20191014023239I      I  ...      NaN 1947-10-15        NaT
9         AID   20191017023249A      A  ...      NaN 1939-11-28        NaT

[10 rows x 180 columns]

E-File AID Data Analysis

In [4]:
import more_itertools as mit
# Read the 2019 AID Data e-file 

e_aid_data = pd.read_csv('e2019(possible).csv',encoding='UTF-8',skipinitialspace=True)

e_aid_data1= e_aid_data

# Dropping blank rows from primary key column of c5
e_aid_data1 = e_aid_data1.dropna(subset=['c5'],how='all')

# Combining all the text data into one separate column and dropping the individual text columns
e_aid_data1['remark'] = e_aid_data1[['remark','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9']].replace('?','').fillna('').agg(' '.join, axis=1)
e_aid_data1 = e_aid_data1.drop(e_aid_data1.columns[[2,3,4,5,6,7,8,9]],axis=1)

e_aid_data1.reset_index(drop=True,inplace=True)

e_aid_data1['remark']= e_aid_data1['remark'].replace(r'^\s*$', np.nan, regex=True) #replacing extra whitespace
e_aid_data1['remark']= e_aid_data1['remark'].mask(pd.isnull, e_aid_data1['c5']) #

fill = e_aid_data1['c5'].str.contains(r'^\b2019')

e_aid_data1['c5'][fill==False] = np.nan

#Unifying all the related text remarks corresponding to each unique identifier of AID
q=[index for index, row in e_aid_data1.iterrows() if row.isnull().any()]

q=[list(group) for group in mit.consecutive_groups(q)] 

for i in q:
    t=''
    s=i[0]
    for j in i:
        t+=(e_aid_data1.iloc[j]['remark'])
        t+=' '
    e_aid_data1.iloc[s-1]['remark']+=t
        
e_aid_data1 = e_aid_data1[pd.notnull(e_aid_data1['c5'])]

e_aid_data1.reset_index(drop=True,inplace=True)

# Renaming the columns for better understanding
e_aid_data1.rename(columns={'c5':'c5_aid','remark': 'Remarks'},inplace=True)

e_aid_data1 = e_aid_data1.rename(columns={'c5_aid': 'Unique_Identifier'})

# Part of text preprocessing of remarks column
e_aid_data1['Remarks'] = e_aid_data1['Remarks'].str.replace('\^PRIVACY DATA OMITTED\^', '').str.strip().str.replace('\s+', ' ', regex=True)

e_aid_data1['Remarks'] = e_aid_data1['Remarks'].str.replace('(#NAME\?)', '').str.strip().str.replace('\s+', ' ', regex=True)

e_aid_data1.insert(0,'Report_Type','AID') #inserting a column which represents the type of report

e_aid_data1

     Report_Type  ...                                            Remarks
0            AID  ...  DURING APPROACH TO STUART WITHAM AIRPORT THE A...
1            AID  ...  THE ONLY INFORMATION PROVIDED BY AIRMAN WAS TH...
2            AID  ...  ON DEPARTURE ROLL FROM PORT EADS GRASS STRIP, ...
3            AID  ...  VENICE, FL. N241EE, BE35 LANDED ON RUNWAY 23 A...
4            AID  ...  1/2/19 AT 1045 EST. N772MG AN R44 HELICOPTER C...
...          ...  ...                                                ...
2403         AID  ...  PILOT WAS IN THE TRAFFIC PATTERN FOR THE CREST...
2404         AID  ...  PILOT WAS CONDUCTING A FAR PART 91 TRIP TO MCC...
2405         AID  ...  PILOT UTILIZING PRIVATE MOWED STRIP TO PRACTIC...
2406         AID  ...  THE PILOT WITH 3 PASSENGERS INITIATED A TAKEOF...
2407         AID  ...  AIRCRAFT EXPERIENCED POWER LOSS WHILE FLYING A...

[2408 rows x 3 columns]

In [5]:
# Merging of e-file of AID with the a-file of AID to have the full remarks column in one dataset
aid_data1 = pd.merge(aid_data1, e_aid_data1, how="inner", on=["Report_Type", "Unique_Identifier"])

# Dropping C119 column
aid_data1 = aid_data1.drop('c119_aid',axis=1)

#Replacing missing values in Phase of flight column with 'Unknown'
aid_data1['c95_aid'] = aid_data1['c95_aid'].fillna('Unknown')

#Replacing missing values in Aircraft Make column with 'Unknown'
aid_data1['c23_aid']= aid_data1['c23_aid'].fillna('Unknown')

#Replacing missing values in Aircraft Model column with 'Aircraft'
aid_data1['c24_aid']= aid_data1['c24_aid'].fillna('Aircraft')

#Concatenating Aircraft Make and Model to a single column called Aircraft Type
aid_data1['Aircraft_Type'] = aid_data1['c23_aid'] + ' ' + aid_data1['c24_aid']
aid_data1['Aircraft_Type'] = aid_data1['Aircraft_Type'].str.strip().str.replace('\s+', ' ', regex=True).astype(str)

#Renaming as per convenience
aid_data1 = aid_data1.rename(columns={'c95_aid':'Phase_Of_Flight','c23_aid':'Aircraft_Make'})

#Removing the extra spaces to the left and right of the data in Phase of Flight column
aid_data1['Phase_Of_Flight'] = aid_data1['Phase_Of_Flight'].str.strip()

#Top 10 rows in AID
aid_data1.head(10)

  Report_Type  ...    Aircraft_Type
0         AID  ...    TAYLOR BC12-D
1         AID  ...     CIRRUS SR22T
2         AID  ...      MOONEY M20J
3         AID  ...        BEECH 35R
4         AID  ...  PIPER PA-28-151
5         AID  ...     HATFIE CH701
6         AID  ...     CESSNA T210L
7         AID  ...        RAYTHE 58
8         AID  ...     N50MJ AIRCAM
9         AID  ...      WEATHE 620B

[10 rows x 181 columns]

In [6]:
#Dimensions of the Dataset
aid_data1.shape

(2391, 181)

SDR Data Analysis

In [7]:
# Read the 2019 SDR Data file 

sdr_data = pd.read_csv('sdr(2019_Occurred_Incidents).csv',encoding='UTF-8',skipinitialspace=True,dtype=str)
sdr_data1 = sdr_data

# Dropping blank rows (if any) from the main column of c25
sdr_data1 = sdr_data1.dropna(subset=['c25'],how='all')

# Dropping columns 
sdr_data1 = sdr_data1.drop(sdr_data1.columns[[-1,-2,-3,0]],axis=1)
#Removing of spaces
sdr_data1.columns= sdr_data1.columns.str.strip()

#changing the date format into Year/month/day
sdr_data1['c10'] = pd.to_datetime(sdr_data1['c10'].astype(str), format='%Y%m%d',errors='coerce')
sdr_data1['c25'] = pd.to_datetime(sdr_data1['c25'].astype(str), format='%Y%m%d',errors='coerce')

# Joining the Remarks columns
sdr_data1['Remarks'] = sdr_data1[['c510a','c510b','c510c','c510d','c510e','c510f']].fillna('').agg(''.join, axis=1)

# Removing extra whitespace
sdr_data1['Remarks']= sdr_data1['Remarks'].str.strip().str.replace('\s+', ' ', regex=True)

#dropping the duplicate columns 
sdr_data1.drop(['c510a', 'c510b','c510c','c510d','c510e','c510f'], axis=1, inplace=True)

#Renaming the columns
sdr_data1.rename(columns={'c25': 'Date_Of_Occurrence', 'c390': 'N_Number'}, inplace=True)

#Adding sdr as suffix
sdr_data1 = sdr_data1.add_suffix('_sdr').rename(columns={'Report_Type_sdr': 'Report_Type', 'Date_Of_Occurrence_sdr': 'Date_Of_Occurrence','N_Number_sdr':'N_Number','Remarks_sdr':'Remarks'})

sdr_data1['c18_sdr'] = sdr_data1['c18_sdr'].str.replace('\W', '')

#Renaming the c18 column as Unique Identifier
sdr_data1 = sdr_data1.rename(columns={'c18_sdr': 'Unique_Identifier'})

#Filling null values of Aircraft Make column with 'Unknown'
sdr_data1['c130_sdr']=sdr_data1['c130_sdr'].fillna('Unknown')

#Filling null values of Aircraft Model column with 'Unknown'
sdr_data1['c140_sdr']=sdr_data1['c140_sdr'].fillna('Aircraft')

sdr_data1['c100_sdr'] = sdr_data1['c100_sdr'].str.strip()

sdr_data1['c250_sdr'] = sdr_data1['c250_sdr'].str.strip()

sdr_data1['c260_sdr'] = sdr_data1['c260_sdr'].str.strip()

sdr_data1['c100_sdr']=sdr_data1['c100_sdr'].fillna('UNKNOWN')

sdr_data1['c250_sdr']=sdr_data1['c250_sdr'].fillna('UNKNOWN')

sdr_data1['c260_sdr']=sdr_data1['c260_sdr'].fillna('UNKNOWN')

sdr_data1['Aircraft_Type'] = sdr_data1['c130_sdr'] + ' '+ sdr_data1['c140_sdr']
sdr_data1['Aircraft_Type'] = sdr_data1['Aircraft_Type'].str.strip().str.replace('\s+', ' ', regex=True).astype(str)

sdr_data1['Remarks'] = sdr_data1['Remarks'].str.replace('\x1a', '')

sdr_data1.rename(columns={'c332_sdr':'Stage_Of_Operation','c100_sdr':'Description_Of_Defective_Part','c250_sdr':'Location_Of_Defective_Part','c260_sdr':'Condition_Of_Defective_Part','c130_sdr':'Aircraft_Make'}, inplace=True)

sdr_data1['Stage_Of_Operation'] = sdr_data1['Stage_Of_Operation'].str.strip()


sdr_data1.insert(0,'Report_Type','SDR')

# print the first 5 rows
sdr_data1.head(5)

  Report_Type  ... Aircraft_Type
0         SDR  ...     DOUG MD11
1         SDR  ...    CESSNA 510
2         SDR  ...    CESSNA 510
3         SDR  ...    BOEING 767
4         SDR  ...    BOEING 767

[5 rows x 81 columns]

In [9]:
#Dimensions of the Dataset
sdr_data1.shape

(61009, 81)

EON Data Analysis

In [8]:
# Read the 2019 EON Data file 

eon_data = pd.read_csv('EON-2019.csv',encoding='UTF-8',skipinitialspace=True)
eon_data1 = eon_data

# eon_data1 = eon_data1.dropna(axis='columns', how='all')
#Removing the spaces
eon_data1.columns= eon_data1.columns.str.strip()

#Changing the event date to date and time format 
eon_data1['Event Date'] = pd.to_datetime(eon_data1['Event Date'])
eon_data1['Event Time'] = eon_data1['Event Date'].dt.strftime('%H:%M')
eon_data1['Event Date'] = eon_data1['Event Date'].dt.strftime('%Y-%m-%d')

eon_data1['Event Date'] = pd.to_datetime(eon_data1['Event Date'])

cols = eon_data1.columns.tolist()
cols = cols[0:5]+cols[-1:]+cols[5:36]
eon_data1 = eon_data1[cols]

# joining the Remarks column  
eon_data1['Message Whole'] = eon_data1[['MessageText.1','Unnamed: 29','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33','Unnamed: 34','Unnamed: 35']].fillna('').agg(''.join, axis=1)

eon_data1['Message Whole'] = eon_data1['Message Whole'].str.strip().str.replace('\s+', ' ', regex=True)

#renaming the columns
eon_data1.rename(columns={'Message Whole': 'Remarks','Event Date': 'Date_Of_Occurrence'},inplace=True)

cols1 = eon_data1.columns.tolist()
cols1 = cols1[0:29] + cols1[-1:]

eon_data1 = eon_data1[cols1]

#Extracting the possible N-Number from Title column and made it as a seperate column
eon_data1['N_Number'] = eon_data1['Title'].str.extract(r'((?<=\|).+?(?=\|))')

#Removing the spaces
eon_data1['N_Number'] = eon_data1['N_Number'].str.strip()

fil = eon_data1['N_Number'].str.contains('^N[0-9]|^n[0-9]')

# Replacing the 'n' to N
eon_data1['N_Number'][fil==True] = eon_data1['N_Number'][fil==True].apply(lambda x : x[1:] if str(x).startswith("N") else x).apply(lambda x : x[1:] if str(x).startswith("n") else x)

#Renaming ID column with Unique Identifier
eon_data1 = eon_data1.rename(columns={'Id': 'Unique_Identifier'})

#Removing Left spaces in the remarks column
eon_data1.Remarks = eon_data1.Remarks.str.lstrip(',').str.strip()
#Dropping of Duplicates in Unique Identifier
eon_data1 = eon_data1.drop_duplicates(subset=['Unique_Identifier'])
#Resetting of the index
eon_data1.reset_index(drop=True,inplace=True)

# Checking whether Aircraft type is present in the remarks if present then Remove the aircraft type from the Remarks
eon_data1['Aircraft Type'][eon_data1['Aircraft Type'].isna()] = ''
for i in range(len(eon_data1)):
  temp = eon_data1.loc[i,'Aircraft Type']
  if temp in eon_data1.loc[i,'Remarks']:
    eon_data1.loc[i,'Remarks'] = eon_data1.loc[i,'Remarks'].replace(temp,'')
    eon_data1.loc[i,'Remarks'] = eon_data1.loc[i,'Remarks'].replace(',','').strip()

#Blank Remarks is replaced with Not Reported
eon_data1.Remarks[eon_data1.Remarks == ''] = 'NOT REPORTED'

#Replacing Blank and Unknown values in Aircraft Type column to hold a single string 'UNKNOWN'
eon_data1['Aircraft Type'][eon_data1['Aircraft Type']==''] = 'UNKNOWN'
eon_data1['Aircraft Type'][eon_data1['Aircraft Type']=='UNKN'] = 'UNKNOWN'
eon_data1['Aircraft Type'][eon_data1['Aircraft Type']=='TYPE UNKNOWN'] = 'UNKNOWN'
eon_data1['Aircraft Type'][eon_data1['Aircraft Type']=='UNKNOWN TYPE'] = 'UNKNOWN'

eon_data1 = eon_data1.rename(columns={'Event Type':'Event_Type','Aircraft Type':'Aircraft_Type'})

eon_data1.insert(0,'Report_Type','EON')

# eon_data1.drop(['Title'], axis=1, inplace=True)
#Print the first 5 rows
eon_data1.head(5)

  Report_Type  ...  N_Number
0         EON  ...   ASA1305
1         EON  ...     9118C
2         EON  ...     613PJ
3         EON  ...     4203P
4         EON  ...   NKS8618

[5 rows x 32 columns]

In [10]:
#Dimensions of the Dataset
eon_data1.shape

(40465, 32)